body {
  background-color: blanchedalmond;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.object {
  margin: 15vh;
  background-color: blueviolet;
  width: 500px;
  height: 500px;
  border: solid;
  border-radius: 50%;
  animation-name: rainbow;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
  14.6% {background-color: blueviolet;}
  30.2% {background-color: blue;}
  45.8% {background-color: greenyellow;}
  60.4% {background-color: yellow;}
  77% {background-color: orange;}
  95% {background-color: red;}
  100% {background-color: blueviolet;}
}